.info {
  display: flex;
  justify-content: space-around;
}

.info > div {
  width: 100%;
  height: 100%;
}

.info > div > p {
  margin: 0;
  padding: 8px;
}

.info > div > p:first-child {
  border-bottom: 1px solid black;
}
